[submodule "themes/PaperMod"]
  path = themes/PaperMod
  url = git@github.com:adityatelange/hugo-PaperMod.git

[submodule "themes/themes/hugo-theme-stack"]
	  path = themes/themes/hugo-theme-stack
	  url = git@github.com:sunfxy/hugo-theme-stack.git
